<?xml version="1.0" encoding="UTF-8" ?>
<SetchipMainMenu>
    <version>7.02.24</version>
	<gameandkeypanel>BaseX/MultiGame</gameandkeypanel>
	
	<jurisdictionOptions select="YES">
		<jurisdiction edit="YES" >california</jurisdiction>
		<cancelresidualcredit edit="YES" >Soft Lockup</cancelresidualcredit>
		<gamblefeature edit="YES" >Soft Lockup</gamblefeature>
		<eftafttransferlimit edit="YES" >20000</eftafttransferlimit>
		<eftafttransfertype edit="YES" >AFT IN OUT ALLOWED</eftafttransfertype>
		<bonustranfertype edit="YES" >MJT AND BONUS AWARD ALLOWED</bonustranfertype>
		<mystery edit="YES" >Disabled</mystery>
		<egmdisableonCOMTimeout edit="YES" >DISABLED</egmdisableonCOMTimeout>
	</jurisdictionOptions>
	
	<moneysetup select="NO">
		<currency edit="YES" >california</currency>
		<MultidenomGameSupport edit="YES" >Soft Lockup</MultidenomGameSupport>
		<valueofonecoin edit="YES" >Soft Lockup</valueofonecoin>
		<creditValueorMultiplier edit="YES" >20000</creditValueorMultiplier>
		<maxcreditlimit edit="YES" >AFT IN OUT ALLOWED</maxcreditlimit>
		<taxlimit edit="YES" >MJT AND BONUS AWARD ALLOWED</taxlimit>
		<maxbetlimit edit ="YES" >Disabled</maxbetlimit>
	</moneysetup>
	
	<payoutSetup select="NO">
	<!--/* payout settings*/ -->
	</payoutSetup>
	
	<miscellaneousOptions select="NO">
	<!--/* miscellaneous settings*/ -->
	</miscellaneousOptions>
	
	<AdditionalOptions select="NO">
	<!--/*Additional settings*/ -->
	</AdditionalOptions>
	
	<FactoryResetOptions select="NO">
	<!-- /*factory Reset settings*/ -->
	</FactoryResetOptions>
	
</SetchipMainMenu>
